/********************
 P A G E L A Y O U T
********************/
#Unterrichtsplanung-admin #layout-sidebar {
    display: none;
}
#Unterrichtsplanung-admin #page_title_container {
    display: none;
}

/**************
A D M I N B O X
**************/
.admin-box-wrapper {
    display: flex;
}
.admin-box {
    width: 1150px;
    margin-right: 1em;
}
.admin-box-header {
    background-color: #d4dbe5;
    padding: 1em;
}
.admin-box-header span.headline {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    color: #28497c;
    font-weight: 600;
    font-size: 1.1em;
    margin: 0 1em 0 0;
    padding-left: 2em;
    background-image: url('../../../../../assets/images/icons/blue/info-circle.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 24px;
}
.admin-box-header select {
    float: right;
}
.selected-text-wrapper {
    border: solid thin #d4dbe5;
    overflow: hidden;
}
.selected-text {
    width: 100%;
}
