/********************
 P A G E L A Y O U T
********************/
#Unterrichtsplanung-index #layout-sidebar {
    display: none;
}
#Unterrichtsplanung-index #page_title_container {
    display: none;
}


/********************
 B R E A D C R U M B
********************/
.nav.home {
    display: inline-block;
    background-image: url('../../../../../assets/images/icons/blue/home.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.nav.edit-plan {
    display: inline-block;
    background-image: url('../../../../../assets/images/icons/blue/edit.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


/*************
C O N T E N T
*************/
.content-wrapper {
    display: flex;
}
.content-container {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-right: 1em;
}


/************
A D D P L A N
************/
.plan-metadata {
    width: 1148px;
    margin-right: 1em;
}
.plan-metadata-header {
    margin: 0;
    padding: 1em 0em ! important;
    line-height: 1em ! important;
}
.plan-metadata-fieldset {
    padding: 1em;
}
.plan-metadata-fieldset label{
    display: inline-block;
    width: 14em;
}
.plan-metadata-fieldset input{
    width: 20em;
    padding: 0.5em;
    margin: 0.5em;
    border: solid thin #d4dbe5;
}
.plan-metadata-buttons {
    padding: 1em;
}
.plan-metadata-errors {
    padding: 1em;
    color: red;
    font-size: 600;
}
.plan-error {
    color: red;
}

/***************************
A D D N O T E E L E M E N T
***************************/
.note-element-adder {
    margin-bottom: 1em;
}
.add-note {
    display: inline-block;
    border: solid thin #d4dbe5;
    background-color: #fff;
    height: 64px;
    width: 100%;
    cursor: pointer;
    padding: 1em;
}
.add-note-icon {
    background-image: url('../../../../../assets/images/icons/blue/add.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.add-note.active,
.add-note:hover{
    border-right: none;
    background-color: #28497c;
}
.add-note.active .add-note-icon,
.add-note:hover .add-note-icon{
    background-image: url('../../../../../assets/images/icons/white/add.svg');
}
.add-note-text {
    font-size: 16px;
    vertical-align: middle;
    height: 48px;
    display: inline-block;
    margin-left: 1.5em;
    color: #28497c;
}
.add-note.active .add-note-text,
.add-note:hover .add-note-text{
    color: #fff;
}
.note-element-list {
    margin: 0;
    padding: 0;
    border: solid thin #d4dbe5;
}
.note-element-list li{
    margin: 1em;
    padding: 1em ;
    border: solid thin #d4dbe5;
    list-style: none;
    color: #28497c;
    background-color: #fff;
    cursor: pointer;
}
.note-element-list li:hover{
    color: #fff;
    background-color: #28497c;
}
.note-element-list li.inactive-element,
.note-element-list li.inactive-element:hover{
    color: #d4dbe5;
    cursor: not-allowed;
}


/*********************
N O T E E L E M E N T
*********************/
.note-element-wrapper {
    margin-bottom: 1em;
}
.note-element-wrapper.unfolded {
    min-height: 260px;
}
.note-element {
    width: 100%;
    border:solid thin #d4dbe5;
    margin: 0;
}
.note-element.unfolded {
    min-height: 230px;
}
.note-element .note-element-title {
    background-color: #e7ebf1;
    color: #28497c;
    margin: 0;
    padding: 1em;
    font-weight: 600;
}
.note-element .note-element-title .note-element-toolbar {
    float: right;
}
.note-element .note-element-title .note-element-toolbar .remove {
    display: inline-block;
    border: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-image: url('../../../../../assets/images/icons/blue/trash.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: top;
    cursor: pointer;
}
.note-element .note-element-title .note-element-toolbar .copy {
    display: inline-block;
    border: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-image: url('../../../../../assets/images/icons/blue/files2.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: top;
    cursor: pointer;
}
.note-element .note-element-title .note-element-toolbar .lower {
    display: inline-block;
    border: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-image: url('../../../../../assets/images/icons/yellow/arr_2down.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: top;
    cursor: pointer;
}
.note-element .note-element-title .note-element-toolbar .raise {
    display: inline-block;
    border: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-image: url('../../../../../assets/images/icons/yellow/arr_2up.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: top;
    cursor: pointer;
}
.note-element-toggle {
    padding-left: 2em;
}
.note-element-toggle.folded{
    display: inline-block;
    border: none;
    height: 24px;
    background-color: transparent;
    background-image: url('../../../../../assets/images/icons/blue/arr_1right.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: top;
    cursor: pointer;
}
.note-element-toggle.unfolded{
    display: inline-block;
    border: none;
    height: 24px;
    background-color: transparent;
    background-image: url('../../../../../assets/images/icons/blue/arr_1down.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: top;
    cursor: pointer;
}
.note-element .note-element-content {
    border: none;
    background-color: #fff;
    padding: 1em;
    margin: 0;
    width: 100%;
    min-height: 180px;
    resize: none;
    box-sizing: border-box;
}
.note-element .note-element-content:focus {
    border: solid thin #28497c;
    margin: -1px;
}
.note-element-char-counter {
    border: solid thin #d4dbe5;
    border-top: none;
    padding: 0.25em;
    width: 4em;
    float: right;
    margin-right: -2px;
    text-align: center;
}

.note-element .ckeplaceholder {
    height: 0 !important;
}


/*****************
I N T E N T I O N
****************/
.target-wrapper.indicative-target.unfolded {
    padding-bottom: 3px;
}
.target-wrapper.indicative-target {
    border: solid thin #d4dbe5;
    margin-bottom: 4px;
    padding-bottom: 0;
}
.target-wrapper.indicative-target .note-element-wrapper {
    margin-bottom: 0;
}
.target-wrapper.indicative-target .note-element{
    border: none;
}
.target-wrapper.indicative-target .note-element.unfolded{
    border-bottom: solid thin #d4dbe5;
}
.target-wrapper.indicative-target .note-element-char-counter {
    border-right: none;
    margin-right: 0;
}
.target-wrapper.coarse-target.unfolded {
    padding-bottom: 3px;
}
.target-wrapper.coarse-target {
    border: solid thin #d4dbe5;
    margin: 1em 4px 4px 4px;
    padding-bottom: 0;
}
.target-wrapper.coarse-target .note-element{
    border-top: none;
    border-left: none;
    border-right: none;
}
.target-wrapper.indicative-target .note-element-adder,
.target-wrapper.coarse-target .note-element-adder {
    margin: 1em;
}
.target-wrapper.fine-target.unfolded {
    padding-bottom: 3px;
}
.target-wrapper.fine-target {
    margin: 4px;
    padding-bottom: 0;
}
.target-wrapper.fine-target .note-element{
    border: solid thin #d4dbe5;
}
.target-wrapper.fine-target .note-element-char-counter {
    border: solid thin #d4dbe5;
    border-top: none;
    margin-right: -2px;
}
.target-metadata-box {
    padding: 0.5em;
    background-color: #d4dbe5;
    color: #28497c;
}
.target-wrapper.coarse-target .note-element-wrapper.unfolded,
.target-wrapper.fine-target .note-element-wrapper.unfolded {
    min-height: 310px;
}
.target-metadata-box label {
    margin: 0 0.5em;
}


/*************
S U M M A R Y
*************/
.note-element-title.summary-title .summary-copy-all{
    float:right;
    height: 24px;
    width: 24px;
    border: none;
    background-image: url('../../../../../assets/images/icons/blue/install.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: top;
    cursor: pointer;
}


/********
 H O M E
********/
.homebox {
    border: solid thin #d4dbe5;
    width: 416px;
    margin-right: 1em;

}
.homebox-small {
    width: 416px;
}
.homebox-wide {
    width: 716px;
}
.homebox-fullwidth {
    width: 1148px;
}
.homebox header {
    margin: 0;
    padding: 1em 1em 1em 2.5em;
    background: #e7ebf1;
    background-repeat: no-repeat;
    background-position: 1em;
    font-weight: 600;
    font-size: 1.1em;
    color: #28497c;
}
.homebox.plans header {
    background-image: url('../../../../../assets/images/icons/blue/edit.svg');
}
.homebox.add-plan header {
    background-image: url('../../../../../assets/images/icons/blue/add.svg');
}
.homebox .homebox-content {
    height: 736px;
    overflow-y: auto;
}
.homebox .homebox-link {
    margin: 1em;
    padding: 1em;
    border: solid thin #d4dbe5;
    font-weight: 600;
    color: #28497c;
}
.homebox .homebox-link:hover {
    border: solid thin #28497c;
    background-color: #28497c;
    color: #fff;
}
.homebox-link-subtitle {
    color: #6e6e6e;
    font-weight: 400;
}
.homebox .homebox-link:hover .homebox-link-subtitle {
    color: #d4dbe5;
}


/****************
 O V E R V I E W
****************/
.overview-boxes {
    width: 1164px;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
}
.overview-box {
    background-repeat: no-repeat;
    background-position-x: 3em;
    background-position-y: 2em;
    background-size: 64px;
    border: solid thin #d4dbe5;
    width: 566px;
    height: 9em;
    margin: 0 1em 1em 0;
}
.overview-box:hover {
    border: solid thin #28497c;
}
.overview-box:hover h1{
    color: #28497c;
}
.overview-box.content {
    background-image: url('../../../../../assets/images/icons/blue/files.svg');
}
.overview-box.media {
    background-image: url('../../../../../assets/images/icons/blue/computer.svg');
}
.overview-box.method {
    background-image: url('../../../../../assets/images/icons/blue/admin.svg');
}
.overview-box.intention {
    background-image: url('../../../../../assets/images/icons/blue/radar.svg');
}
.overview-box.situation {
    background-image: url('../../../../../assets/images/icons/blue/zoom-in2.svg');
}
.overview-box.individual {
    background-image: url('../../../../../assets/images/icons/blue/headache.svg');
    background-position-y: 1.25em;
}
.overview-box h1{
    color: #28497c;
    margin-top: 1.75em;
    margin-bottom: 0;
    margin-left: 7em;
    border: none;
    text-align: left;
}


/**************
 I N F O B O X
**************/
.infobox-wrapper {
    width: 420px;
    min-height: 632px;
    border: solid thin #d4dbe5;
}
.infobox-wrapper .header {
    margin: 0;
    padding: 1em 1em 1em 3em;
    background-color: #e7ebf1;;
    background-image: url('../../../../../assets/images/icons/blue/info-circle.svg');
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 24px;
    color: #28497c;
}
.infobox-wrapper .infobox-content {
    height: 600px;
    overflow-y: auto;
}
.home .infobox-wrapper .infobox-content {
    height: 736px;
}
.infobox-wrapper .infobox-content p{
    margin: 1em;
    text-align: justify;
}
.infobox-nodata {
    color: #ccc;
}

/*******************
 W A R N I N G B O X
 ******************/

 .warningbox-wrapper {
    width: 420px;
    height: 120px;
    border: solid thin #d60000;
    margin-bottom: 1em;
 }
 .warningbox-wrapper h3 {
    margin: 0;
    padding: 1em 1em 1em 3em;
    background-color: #d60000;;
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 24px;
    color: #ffffff;
}
.warningbox-wrapper h3 {background-image: url('../../../../../assets/images/icons/white/exclaim-circle.svg');}

.warningbox-content {
    margin: 1em;
    font-weight: 700;

}


/*********************
 I N T E R D E P B O X
*********************/
.interdepbox-wrapper,
.toolbox-wrapper {
    width: 420px;
    height: 120px;
    border: solid thin #d4dbe5;
    margin-bottom: 1em;
}
.interdepcomputedbox-wrapper {
    width: unset;
    margin-left: 9em;
}
.interdepbox-wrapper h3,
.toolbox-wrapper h3 {
    margin: 0;
    padding: 1em 1em 1em 3em;
    background-color: #e7ebf1;;
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 24px;
    color: #28497c;
}
.toolbox-wrapper h3 {background-image: url('../../../../../assets/images/icons/blue/tools.svg');}
.interdepbox-wrapper .interdep-title-type-1 {background-image: url('../img/blue/zoom-in2.svg');}
.interdepbox-wrapper .interdep-title-type-2 {background-image: url('../../../../../assets/images/icons/blue/headache.svg'); background-position: 1em 0.6em;}
.interdepbox-wrapper .interdep-title-type-3 {background-image: url('../../../../../assets/images/icons/blue/radar.svg');}
.interdepbox-wrapper .interdep-title-type-4 {background-image: url('../../../../../assets/images/icons/blue/files.svg');}
.interdepbox-wrapper .interdep-title-type-5 {background-image: url('../../../../../assets/images/icons/blue/admin.svg');}
.interdepbox-wrapper .interdep-title-type-6 {background-image: url('../../../../../assets/images/icons/blue/literature.svg');}

.interdeps,
.tools {
    margin: 0.5em auto;
    width: 370px;
}
.overview-box .interdepbox-wrapper.interdepcomputedbox-wrapper .interdeps {
    margin: 0;
    width: unset;
}
.interdeps button,
.tools a span{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 1em 1.5em;
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    cursor: pointer;
}
.tools .toolbox-edit {background-image: url('../../../../../assets/images/icons/blue/edit.svg');}
.tools .toolbox-schedule {background-image: url('../../../../../assets/images/icons/blue/timetable.svg');}
.tools .toolbox-pdf {background-image: url('../../../../../assets/images/icons/blue/file-pdf.svg');}
.tools .toolbox-doc {background-image: url('../../../../../assets/images/icons/blue/file-word.svg');}
.tools .toolbox-plain {background-image: url('../../../../../assets/images/icons/blue/file-text.svg');}

.interdeps .interdep-type-1 {background-image: url('../img/green/zoom-in2.svg');}
.interdeps .interdep-type-2 {background-image: url('../../../../../assets/images/icons/green/headache.svg');}
.interdeps .interdep-type-3 {background-image: url('../../../../../assets/images/icons/green/radar.svg');}
.interdeps .interdep-type-4 {background-image: url('../../../../../assets/images/icons/green/files.svg');}
.interdeps .interdep-type-5 {background-image: url('../../../../../assets/images/icons/green/admin.svg');}
.interdeps .interdep-type-6 {background-image: url('../../../../../assets/images/icons/green/computer.svg');}

.interdeps .interdep-pending.interdep-type-1 {background-image: url('../img/yellow/zoom-in2.svg');}
.interdeps .interdep-pending.interdep-type-2 {background-image: url('../../../../../assets/images/icons/yellow/headache.svg');}
.interdeps .interdep-pending.interdep-type-3 {background-image: url('../../../../../assets/images/icons/yellow/radar.svg');}
.interdeps .interdep-pending.interdep-type-4 {background-image: url('../../../../../assets/images/icons/yellow/files.svg');}
.interdeps .interdep-pending.interdep-type-5 {background-image: url('../../../../../assets/images/icons/yellow/admin.svg');}
.interdeps .interdep-pending.interdep-type-6 {background-image: url('../../../../../assets/images/icons/yellow/computer.svg');}

.interdeps .interdep-disabled.interdep-type-1 {background-image: url('../img/red/zoom-in2.svg');}
.interdeps .interdep-disabled.interdep-type-2 {background-image: url('../../../../../assets/images/icons/red/headache.svg');}
.interdeps .interdep-disabled.interdep-type-3 {background-image: url('../../../../../assets/images/icons/red/radar.svg');}
.interdeps .interdep-disabled.interdep-type-4 {background-image: url('../../../../../assets/images/icons/red/files.svg');}
.interdeps .interdep-disabled.interdep-type-5 {background-image: url('../../../../../assets/images/icons/red/admin.svg');}
.interdeps .interdep-disabled.interdep-type-6 {background-image: url('../../../../../assets/images/icons/red/computer.svg');}

.overview-box .interdepbox-wrapper,
.overview-box .toolbox-wrapper {
    height: unset;
    border: none;
}
.overview-box .interdepbox-wrapper .interdeps,
.overview-box .toolbox-wrapper .tools{
    margin: 0.5em auto;
    width: 160px;
}
.overview-box .interdepbox-wrapper .interdeps button {
    background-size: 22px;
    margin: 0 11px 0 0;
}


/*************
C O N T E N T
*************/
.plan-content-tabs {

    margin-right: 1em;
}
.plan-content-tabs .plan-content-tab{
    display: inline-block;
    padding: 1em;
    margin: 0;
    background-color: #e7ebf1;
    cursor: pointer;
}
.plan-content-tabs .plan-content-tab.active{
    background-color: #28497c;
    color: #fff;
}
.plan-content-analysis {
    border: solid thin #d4dbe5;
    padding: 1em;
    margin-bottom: 1em;
}


/*************
 B U T T O N S
 ************/
button.button-remove {
    border-color: #cb1800;
    color: #cb1800;
    padding-left: 1.75em;
    background-image: url('../../../../../assets/images/icons/red/trash.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left+5px;

}
button.button-remove:hover {
    background-color: #cb1800;
    color: #fff;
    background-image: url('../../../../../assets/images/icons/white/trash.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left+5px;
}


/***************
S C H E D U L E
***************/
.schedule-table-wrapper {
    margin-right: 1em;
}
.schedule-table {
    display: table;
    table-layout: fixed;
    width: 1150px;
    border-spacing: 0;
    border-collapse: collapse;
}
.schedule-table tr th,
.schedule-table tr td {
    border: solid thin #d0d7e3;
    padding: 0.5em;
}
.schedule-table tr td input {
    border: none;
    width: -moz-available;
}
.schedule-table tr td.schedule-cell-row-remove {
    border: none;
}
.schedule-table tr th.schedule-header-row-remove {
    width: 24px;
    border: none;
}
.schedule-row-remove {
    height: 24px;
    margin-left: 6px;
    border: none;
    background-color: transparent;
    background-image: url('../../../../../assets/images/icons/blue/trash.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    cursor: pointer;
}


/*************
S P I N N E R
*************/
.spinner {
    display: inline-block;
    margin-left: 1em;
}
.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #28497c;
    margin: 2px;
    vertical-align: middle;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
